# Panda

In [188]:
#pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas as pd

  students  Scores
0     John      80
1     Paul      40
2    James      60
3     Rita      90

In [4]:
#series
y= [2,3,4,5]
x=pd.Series(y)
print(x)

0    2
1    3
2    4
3    5
dtype: int64

In [8]:
# label
y= [2,3,4,5]
x=pd.Series(y, index=['a','b','c','d'])
print(x['c'])

4

In [11]:
# label
y= {'a':2,'b':3,'c':4,'d':5}
x=pd.Series(y)
print(x['c'])
z=pd.Series(y,index=['a','b'])
print(z)

4
a    2
b    3
dtype: int64

In [12]:
#dataframe

data={
    'students':['John','Paul','James','Rita'],
    'Scores':[80,40,60,90]
}
x=pd.DataFrame(data)
print(x)

  students  Scores
0     John      80
1     Paul      40
2    James      60
3     Rita      90

In [14]:
print(x.loc[1])
print(x.loc[[2,3]])

students    Paul
Scores        40
Name: 1, dtype: object
  students  Scores
2    James      60
3     Rita      90

## Merge and concatenate

In [15]:
import pandas as pd

a = [3,4,6,7,9]
b = [1,3,6,3,4]
a_series = pd.Series(a)
b_series = pd.Series(b)
pd.concat([a_series,b_series])

0    3
1    4
2    6
3    7
4    9
0    1
1    3
2    6
3    3
4    4
dtype: int64

In [16]:
import pandas as pd

a = [3,4,6,7,9]
b = [1,3,6,3,4]
a_series = pd.Series(a)
b_series = pd.Series(b)
pd.concat([a_series,b_series], keys = ['First', 'Second'])

First   0    3
        1    4
        2    6
        3    7
        4    9
Second  0    1
        1    3
        2    6
        3    3
        4    4
dtype: int64

In [17]:
import pandas as pd

a = [3,4,6,7,9]
b = [1,3,6,3,4]
a_series = pd.Series(a)
b_series = pd.Series(b)
pd.concat([a_series,b_series], keys = ['First', 'Second'], names=['group, index'])
# keys for each dataframe and index can be any word but it define index of column

group, index
First         0    3
              1    4
              2    6
              3    7
              4    9
Second        0    1
              1    3
              2    6
              3    3
              4    4
dtype: int64

In [18]:
import pandas as pd

a = [[3,4,6],[1,2,3]]
b = [[1,3,6],[4,7,8]]
a_df = pd.DataFrame(a)
b_df = pd.DataFrame(b)
df = pd.concat([a_df, b_df])
df

   0  1  2
0  3  4  6
1  1  2  3
0  1  3  6
1  4  7  8

In [19]:
import pandas as pd

a = [3,4,6,9]
b = [['pen',2,4], ['rer',8,9]]
a_df = pd.DataFrame(a)
b_df = pd.DataFrame(b, columns=['letters', 'numbers', 'numbers2'])
pd.concat([a_df,b_df])

     0 letters  numbers  numbers2
0  3.0     NaN      NaN       NaN
1  4.0     NaN      NaN       NaN
2  6.0     NaN      NaN       NaN
3  9.0     NaN      NaN       NaN
0  NaN     pen      2.0       4.0
1  NaN     rer      8.0       9.0

In [21]:
import pandas as pd

a = [[3,4,6], [1,2,3]]
b = [[1,3,6],[4,7,8]]
a_df = pd.DataFrame(a, columns=['n', 'o', 'p'])
b_df = pd.DataFrame(b, columns=['n', 'o', 'p'])
pd.concat([a_df, b_df], axis =1) 
pd.concat([a_df, b_df], axis =0)

   n  o  p
0  3  4  6
1  1  2  3
0  1  3  6
1  4  7  8

## Joins

In [22]:
import pandas as pd
df_1 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Salary':[22000,35000,77000,25000]
})

df_2 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Department':['Sales','Admin','IT','HR']
})
df_3 = pd.merge(df_1, df_2, on='Name')
df_3

    Name  Salary Department
0  Peter   22000      Sales
1  Ahmed   35000      Admin
2  James   77000         IT
3   Kate   25000         HR

In [27]:
import pandas as pd

df_1 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Salary':[22000,35000,77000,25000]
})
df_2 = pd.DataFrame({
    'Name':['Peter','Ahmed','Kate'],
    'Department':['Sales','Admin','HR']
})
df_3 = pd.merge(df_1, df_2, on='Name') # inner join
df_3
df_6 = pd.merge(df_1,df_2,on='Name', how='inner') # same as above # intersect
df_6
df_7 = pd.merge(df_1,df_2,on='Name', how='outer') #union
df_7
df_8 = pd.merge(df_1,df_2,on='Name', how='left') #all from left
df_8
df_9 = pd.merge(df_1,df_2,on='Name', how='right') #all from right
df_9

    Name  Salary Department
0  Peter   22000      Sales
1  Ahmed   35000      Admin
2   Kate   25000         HR

In [30]:
import pandas as pd

df_1 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Salary':[22000,35000,77000,25000],
    'Department':['Sales','Admin','IT','HR'],
    'Education':['Bsc','Bsc','MSc','MA']
})
df_2 = pd.DataFrame({
    'Name':['Peter','Ahmed','James','Kate'],
    'Department':['Sales','Admin','IT','HR'],
    'Education':['Bsc','Bsc','MSc','MA']
})

df_3 = pd.merge(df_1,df_2,on='Name')
df_3 = pd.merge(df_1,df_2,on='Name', suffixes=('_first', '_second'))
df_3

,Name,Salary,Department_first,Education_first,Department_second,Education_second
0,Peter,22000,Sales,Bsc,Sales,Bsc
1,Ahmed,35000,Admin,Bsc,Admin,Bsc
2,James,77000,IT,MSc,IT,MSc
3,Kate,25000,HR,MA,HR,MA

## CSV File

In [5]:
df=pd.read_csv('DataForDatascience/world-happiness-report.csv')
#print(df.to_string())
print(df.head())
#print(df.tail())
#print(df.info()) # information about dataframe
#print(df.describe()) # statistics
#print(df.describe(percentiles=[.2,.6,.8])) # statistics

  Country name  year  Life Ladder  Log GDP per capita  Social support  \
0  Afghanistan  2008        3.724               7.370           0.451
1  Afghanistan  2009        4.402               7.540           0.552
2  Afghanistan  2010        4.758               7.647           0.539
3  Afghanistan  2011        3.832               7.620           0.521
4  Afghanistan  2012        3.783               7.705           0.521

   Healthy life expectancy at birth  Freedom to make life choices  Generosity  \
0                             50.80                         0.718       0.168
1                             51.20                         0.679       0.190
2                             51.60                         0.600       0.121
3                             51.92                         0.496       0.162
4                             52.24                         0.531       0.236

   Perceptions of corruption  Positive affect  Negative affect
0                      0.882            0.518            0.258
1                      0.850            0.584            0.237
2                      0.707            0.618            0.275
3                      0.731            0.611            0.267
4                      0.776            0.710            0.268

#### Head- First few line
#### Tail- laste few lines
#### Min
#### Max
#### sum
#### count
#### Mean
#### median
#### mode
#### info
#### describe
#### info

In [51]:
df['Freedom to make life choices'].min() # min max of specific colum
df['Freedom to make life choices'].max()

country=['Singapore']

d_filter=df[df['Country name'].isin(country)] # get only singapore data
d_filter

d_filter['Freedom to make life choices'].min() # min max of specific colum
d_filter['Freedom to make life choices'].max()

df['Perceptions of corruption'].mean()
df['Perceptions of corruption'].median()
df['Perceptions of corruption'].mode()

df['Generosity'].sum()
df['Generosity'].sum(skipna=True) # same as above

df.mean(axis=1)
df.mean(axis=0)

C:\Users\ankur\AppData\Local\Temp\ipykernel_13772\2690680807.py:19: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)
C:\Users\ankur\AppData\Local\Temp\ipykernel_13772\2690680807.py:20: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean(axis=0)

year                                2013.216008
Life Ladder                            5.466705
Log GDP per capita                     9.368453
Social support                         0.812552
Healthy life expectancy at birth      63.359374
Freedom to make life choices           0.742558
Generosity                             0.000103
Perceptions of corruption              0.747125
Positive affect                        0.710003
Negative affect                        0.268544
dtype: float64

In [53]:
df.count()

Country name                        1949
year                                1949
Life Ladder                         1949
Log GDP per capita                  1913
Social support                      1936
Healthy life expectancy at birth    1894
Freedom to make life choices        1917
Generosity                          1860
Perceptions of corruption           1839
Positive affect                     1927
Negative affect                     1933
dtype: int64

In [54]:
df.count(axis=1)

0       11
1       11
2       11
3       11
4       11
        ..
1944    11
1945    11
1946    11
1947    11
1948    11
Length: 1949, dtype: int64

In [55]:
# Json file

#pd.read_json()

### Inspect Data

In [16]:
import pandas as pd

file = pd.read_csv('DataForDatascience\world-happiness-report.csv')
#file.shape
#file.dtypes
#file.columns
file.info
#file.describe

<bound method DataFrame.info of      Country name  year  Life Ladder  Log GDP per capita  Social support  \
0     Afghanistan  2008        3.724               7.370           0.451
1     Afghanistan  2009        4.402               7.540           0.552
2     Afghanistan  2010        4.758               7.647           0.539
3     Afghanistan  2011        3.832               7.620           0.521
4     Afghanistan  2012        3.783               7.705           0.521
...           ...   ...          ...                 ...             ...
1944     Zimbabwe  2016        3.735               7.984           0.768
1945     Zimbabwe  2017        3.638               8.016           0.754
1946     Zimbabwe  2018        3.616               8.049           0.775
1947     Zimbabwe  2019        2.694               7.950           0.759
1948     Zimbabwe  2020        3.160               7.829           0.717

      Healthy life expectancy at birth  Freedom to make life choices  \
0                                50.80                         0.718
1                                51.20                         0.679
2                                51.60                         0.600
3                                51.92                         0.496
4                                52.24                         0.531
...                                ...                           ...
1944                             54.40                         0.733
1945                             55.00                         0.753
1946                             55.60                         0.763
1947                             56.20                         0.632
1948                             56.80                         0.643

      Generosity  Perceptions of corruption  Positive affect  Negative affect
0          0.168                      0.882            0.518            0.258
1          0.190                      0.850            0.584            0.237
2          0.121                      0.707            0.618            0.275
3          0.162                      0.731            0.611            0.267
4          0.236                      0.776            0.710            0.268
...          ...                        ...              ...              ...
1944      -0.095                      0.724            0.738            0.209
1945      -0.098                      0.751            0.806            0.224
1946      -0.068                      0.844            0.710            0.212
1947      -0.064                      0.831            0.716            0.235
1948      -0.009                      0.789            0.703            0.346

[1949 rows x 11 columns]>

## Read csv with operations

In [19]:
# make header= first row

file = pd.read_csv('world-happiness-report.csv', header=1)#Skip Rows Reading CSV File 
file

,Afghanistan,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
0,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
1,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
2,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
3,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
4,Afghanistan,2013,3.572,7.725,0.484,52.56,0.578,0.061,0.823,0.621,0.273
...,...,...,...,...,...,...,...,...,...,...,...
1943,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1944,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1945,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1946,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1947,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [21]:
#skip row =>index= 2,3,4,6 -> Skip Row , keep header
file2 = pd.read_csv('world-happiness-report.csv', skiprows=[2,3,4,6])
file2

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
2,Afghanistan,2014,3.131,7.718,0.526,52.88,0.509,0.104,0.871,0.532,0.375
3,Afghanistan,2015,3.983,7.702,0.529,53.20,0.389,0.080,0.881,0.554,0.339
4,Afghanistan,2016,4.220,7.697,0.559,53.00,0.523,0.042,0.793,0.565,0.348
...,...,...,...,...,...,...,...,...,...,...,...
1940,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1941,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1942,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1943,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1944,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [22]:
# skip Header
file2 = pd.read_csv('world-happiness-report.csv', skiprows=[0])
file2

,Afghanistan,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
0,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
1,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
2,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
3,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
4,Afghanistan,2013,3.572,7.725,0.484,52.56,0.578,0.061,0.823,0.621,0.273
...,...,...,...,...,...,...,...,...,...,...,...
1943,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1944,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1945,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1946,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1947,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [23]:
# header removed
file2 = pd.read_csv('world-happiness-report.csv', skiprows=4)
file2

,Afghanistan,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,0.611,0.267
0,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
1,Afghanistan,2013,3.572,7.725,0.484,52.56,0.578,0.061,0.823,0.621,0.273
2,Afghanistan,2014,3.131,7.718,0.526,52.88,0.509,0.104,0.871,0.532,0.375
3,Afghanistan,2015,3.983,7.702,0.529,53.20,0.389,0.080,0.881,0.554,0.339
4,Afghanistan,2016,4.220,7.697,0.559,53.00,0.523,0.042,0.793,0.565,0.348
...,...,...,...,...,...,...,...,...,...,...,...
1940,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1941,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1942,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1943,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1944,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [24]:
#read file without header
file2 = pd.read_csv('world-happiness-report.csv', header = None)
file2

,0,1,2,3,4,5,6,7,8,9,10
0,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1,Afghanistan,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
2,Afghanistan,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,0.584,0.237
3,Afghanistan,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,0.618,0.275
4,Afghanistan,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,0.611,0.267
...,...,...,...,...,...,...,...,...,...,...,...
1945,Zimbabwe,2016,3.735,7.984,0.768,54.400,0.733,-0.095,0.724,0.738,0.209
1946,Zimbabwe,2017,3.638,8.016,0.754,55.000,0.753,-0.098,0.751,0.806,0.224
1947,Zimbabwe,2018,3.616,8.049,0.775,55.600,0.763,-0.068,0.844,0.710,0.212
1948,Zimbabwe,2019,2.694,7.950,0.759,56.200,0.632,-0.064,0.831,0.716,0.235
1949,Zimbabwe,2020,3.160,7.829,0.717,56.800,0.643,-0.009,0.789,0.703,0.346

In [25]:
file2 = pd.read_csv('world-happiness-report.csv', header = None, prefix='header_')
file2

C:\Users\ankur\AppData\Local\Temp\ipykernel_19748\1681570019.py:1: FutureWarning: The prefix argument has been deprecated and will be removed in a future version. Use a list comprehension on the column names in the future.


  file2 = pd.read_csv('world-happiness-report.csv', header = None, prefix='header_')

,header_0,header_1,header_2,header_3,header_4,header_5,header_6,header_7,header_8,header_9,header_10
0,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1,Afghanistan,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
2,Afghanistan,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,0.584,0.237
3,Afghanistan,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,0.618,0.275
4,Afghanistan,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,0.611,0.267
...,...,...,...,...,...,...,...,...,...,...,...
1945,Zimbabwe,2016,3.735,7.984,0.768,54.400,0.733,-0.095,0.724,0.738,0.209
1946,Zimbabwe,2017,3.638,8.016,0.754,55.000,0.753,-0.098,0.751,0.806,0.224
1947,Zimbabwe,2018,3.616,8.049,0.775,55.600,0.763,-0.068,0.844,0.710,0.212
1948,Zimbabwe,2019,2.694,7.950,0.759,56.200,0.632,-0.064,0.831,0.716,0.235
1949,Zimbabwe,2020,3.160,7.829,0.717,56.800,0.643,-0.009,0.789,0.703,0.346

In [26]:
#subset of columns
file = pd.read_csv('world-happiness-report.csv', usecols=['year', 'Generosity'])
file

      year  Generosity
0     2008       0.168
1     2009       0.190
2     2010       0.121
3     2011       0.162
4     2012       0.236
...    ...         ...
1944  2016      -0.095
1945  2017      -0.098
1946  2018      -0.068
1947  2019      -0.064
1948  2020      -0.009

[1949 rows x 2 columns]

In [27]:

file = pd.read_csv('world-happiness-report.csv', usecols=[3, 6, 0, 2])
file

,Country name,Life Ladder,Log GDP per capita,Freedom to make life choices
0,Afghanistan,3.724,7.370,0.718
1,Afghanistan,4.402,7.540,0.679
2,Afghanistan,4.758,7.647,0.600
3,Afghanistan,3.832,7.620,0.496
4,Afghanistan,3.783,7.705,0.531
...,...,...,...,...
1944,Zimbabwe,3.735,7.984,0.733
1945,Zimbabwe,3.638,8.016,0.753
1946,Zimbabwe,3.616,8.049,0.763
1947,Zimbabwe,2.694,7.950,0.632
1948,Zimbabwe,3.160,7.829,0.643

In [29]:
# get specific rows 
file = pd.read_csv('world-happiness-report.csv', nrows=19)#0-18
file

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
5,Afghanistan,2013,3.572,7.725,0.484,52.56,0.578,0.061,0.823,0.621,0.273
6,Afghanistan,2014,3.131,7.718,0.526,52.88,0.509,0.104,0.871,0.532,0.375
7,Afghanistan,2015,3.983,7.702,0.529,53.20,0.389,0.080,0.881,0.554,0.339
8,Afghanistan,2016,4.220,7.697,0.559,53.00,0.523,0.042,0.793,0.565,0.348
9,Afghanistan,2017,2.662,7.697,0.491,52.80,0.427,-0.121,0.954,0.496,0.371
10,Afghanistan,2018,2.694,7.692,0.508,52.60,0.374,-0.094,0.928,0.424,0.405
11,Afghanistan,2019,2.375,7.697,0.420,52.40,0.394,-0.108,0.924,0.351,0.502
12,Albania,2007,4.634,9.142,0.821,65.80,0.529,-0.009,0.875,0.553,0.246
13,Albania,2009,5.485,9.262,0.833,66.20,0.525,-0.158,0.864,0.640,0.279
14,Albania,2010,5.269,9.303,0.733,66.40,0.569,-0.172,0.726,0.648,0.300
15,Albania,2011,5.867,9.331,0.759,66.68,0.487,-0.205,0.877,0.628,0.257
16,Albania,2012,5.510,9.347,0.785,66.96,0.602,-0.169,0.848,0.607,0.271
17,Albania,2013,4.551,9.359,0.759,67.24,0.632,-0.127,0.863,0.634,0.338
18,Albania,2014,4.814,9.378,0.626,67.52,0.735,-0.025,0.883,0.685,0.335

In [30]:
#rows , column
file = pd.read_csv('world-happiness-report.csv', usecols=[0,1,3],nrows=6)
file

  Country name  year  Log GDP per capita
0  Afghanistan  2008               7.370
1  Afghanistan  2009               7.540
2  Afghanistan  2010               7.647
3  Afghanistan  2011               7.620
4  Afghanistan  2012               7.705
5  Afghanistan  2013               7.725

In [31]:
# time to import
file = pd.read_csv('world-happiness-report.csv', verbose=True)

Tokenization took: 1.00 ms
Type conversion took: 2.00 ms
Parser memory cleanup took: 0.00 ms

In [33]:
#changing Datatype
file = pd.read_csv('world-happiness-report.csv', dtype={'year':'float64'})
file.dtypes

Country name                         object
year                                float64
Life Ladder                         float64
Log GDP per capita                  float64
Social support                      float64
Healthy life expectancy at birth    float64
Freedom to make life choices        float64
Generosity                          float64
Perceptions of corruption           float64
Positive affect                     float64
Negative affect                     float64
dtype: object

In [34]:
# summary of data set
file = pd.read_csv('world-happiness-report.csv')
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1949 non-null   object
 1   year                              1949 non-null   int64
 2   Life Ladder                       1949 non-null   float64
 3   Log GDP per capita                1913 non-null   float64
 4   Social support                    1936 non-null   float64
 5   Healthy life expectancy at birth  1894 non-null   float64
 6   Freedom to make life choices      1917 non-null   float64
 7   Generosity                        1860 non-null   float64
 8   Perceptions of corruption         1839 non-null   float64
 9   Positive affect                   1927 non-null   float64
 10  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 167.6+ KB

In [35]:
country = file['Country name']
country.head()

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country name, dtype: object

In [36]:
country.tail()

1944    Zimbabwe
1945    Zimbabwe
1946    Zimbabwe
1947    Zimbabwe
1948    Zimbabwe
Name: Country name, dtype: object

In [37]:
x = file[['Country name', 'year', 'Generosity']]
x.head()

  Country name  year  Generosity
0  Afghanistan  2008       0.168
1  Afghanistan  2009       0.190
2  Afghanistan  2010       0.121
3  Afghanistan  2011       0.162
4  Afghanistan  2012       0.236

In [38]:
x.tail()

     Country name  year  Generosity
1944     Zimbabwe  2016      -0.095
1945     Zimbabwe  2017      -0.098
1946     Zimbabwe  2018      -0.068
1947     Zimbabwe  2019      -0.064
1948     Zimbabwe  2020      -0.009

## working with data

In [39]:
# total number of rows and column
data = pd.read_csv('world-happiness-report.csv')
print(data.shape)
print(data.shape[0])
print(data.shape[1])

(1949, 11)
1949
11

In [40]:
import pandas as pd
data = pd.read_csv('world-happiness-report.csv')
data.tail(n=10)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1939,Zimbabwe,2011,4.846,7.846,0.865,48.12,0.633,-0.088,0.830,0.781,0.211
1940,Zimbabwe,2012,4.955,7.983,0.896,49.54,0.470,-0.103,0.859,0.669,0.177
1941,Zimbabwe,2013,4.690,7.985,0.799,50.96,0.576,-0.104,0.831,0.712,0.182
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,-0.074,0.820,0.725,0.239
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,-0.123,0.810,0.715,0.179
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [43]:
## loc vs iloc
#### iloc are row index where as loc is the name of index 
#### iloc and loc can be same is you use index and name
#### iloc work from 0 to n-1 > loc last element is =n

In [41]:
# head vs loc vs iloc
print(data.head(n=11))
print(data.loc[:10])
print(data.iloc[:11])

   Country name  year  Life Ladder  Log GDP per capita  Social support  \
0   Afghanistan  2008        3.724               7.370           0.451
1   Afghanistan  2009        4.402               7.540           0.552
2   Afghanistan  2010        4.758               7.647           0.539
3   Afghanistan  2011        3.832               7.620           0.521
4   Afghanistan  2012        3.783               7.705           0.521
5   Afghanistan  2013        3.572               7.725           0.484
6   Afghanistan  2014        3.131               7.718           0.526
7   Afghanistan  2015        3.983               7.702           0.529
8   Afghanistan  2016        4.220               7.697           0.559
9   Afghanistan  2017        2.662               7.697           0.491
10  Afghanistan  2018        2.694               7.692           0.508

    Healthy life expectancy at birth  Freedom to make life choices  \
0                              50.80                         0.718
1                              51.20                         0.679
2                              51.60                         0.600
3                              51.92                         0.496
4                              52.24                         0.531
5                              52.56                         0.578
6                              52.88                         0.509
7                              53.20                         0.389
8                              53.00                         0.523
9                              52.80                         0.427
10                             52.60                         0.374

    Generosity  Perceptions of corruption  Positive affect  Negative affect
0        0.168                      0.882            0.518            0.258
1        0.190                      0.850            0.584            0.237
2        0.121                      0.707            0.618            0.275
3        0.162                      0.731            0.611            0.267
4        0.236                      0.776            0.710            0.268
5        0.061                      0.823            0.621            0.273
6        0.104                      0.871            0.532            0.375
7        0.080                      0.881            0.554            0.339
8        0.042                      0.793            0.565            0.348
9       -0.121                      0.954            0.496            0.371
10      -0.094                      0.928            0.424            0.405
   Country name  year  Life Ladder  Log GDP per capita  Social support  \
0   Afghanistan  2008        3.724               7.370           0.451
1   Afghanistan  2009        4.402               7.540           0.552
2   Afghanistan  2010        4.758               7.647           0.539
3   Afghanistan  2011        3.832               7.620           0.521
4   Afghanistan  2012        3.783               7.705           0.521
5   Afghanistan  2013        3.572               7.725           0.484
6   Afghanistan  2014        3.131               7.718           0.526
7   Afghanistan  2015        3.983               7.702           0.529
8   Afghanistan  2016        4.220               7.697           0.559
9   Afghanistan  2017        2.662               7.697           0.491
10  Afghanistan  2018        2.694               7.692           0.508

    Healthy life expectancy at birth  Freedom to make life choices  \
0                              50.80                         0.718
1                              51.20                         0.679
2                              51.60                         0.600
3                              51.92                         0.496
4                              52.24                         0.531
5                              52.56                         0.578
6                              52.88                         0.509
7                              53.20                         0.389
8                              53.00                         0.523
9                              52.80                         0.427
10                             52.60                         0.374

    Generosity  Perceptions of corruption  Positive affect  Negative affect
0        0.168                      0.882            0.518            0.258
1        0.190                      0.850            0.584            0.237
2        0.121                      0.707            0.618            0.275
3        0.162                      0.731            0.611            0.267
4        0.236                      0.776            0.710            0.268
5        0.061                      0.823            0.621            0.273
6        0.104                      0.871            0.532            0.375
7        0.080                      0.881            0.554            0.339
8        0.042                      0.793            0.565            0.348
9       -0.121                      0.954            0.496            0.371
10      -0.094                      0.928            0.424            0.405
   Country name  year  Life Ladder  Log GDP per capita  Social support  \
0   Afghanistan  2008        3.724               7.370           0.451
1   Afghanistan  2009        4.402               7.540           0.552
2   Afghanistan  2010        4.758               7.647           0.539
3   Afghanistan  2011        3.832               7.620           0.521
4   Afghanistan  2012        3.783               7.705           0.521
5   Afghanistan  2013        3.572               7.725           0.484
6   Afghanistan  2014        3.131               7.718           0.526
7   Afghanistan  2015        3.983               7.702           0.529
8   Afghanistan  2016        4.220               7.697           0.559
9   Afghanistan  2017        2.662               7.697           0.491
10  Afghanistan  2018        2.694               7.692           0.508

    Healthy life expectancy at birth  Freedom to make life choices  \
0                              50.80                         0.718
1                              51.20                         0.679
2                              51.60                         0.600
3                              51.92                         0.496
4                              52.24                         0.531
5                              52.56                         0.578
6                              52.88                         0.509
7                              53.20                         0.389
8                              53.00                         0.523
9                              52.80                         0.427
10                             52.60                         0.374

    Generosity  Perceptions of corruption  Positive affect  Negative affect
0        0.168                      0.882            0.518            0.258
1        0.190                      0.850            0.584            0.237
2        0.121                      0.707            0.618            0.275
3        0.162                      0.731            0.611            0.267
4        0.236                      0.776            0.710            0.268
5        0.061                      0.823            0.621            0.273
6        0.104                      0.871            0.532            0.375
7        0.080                      0.881            0.554            0.339
8        0.042                      0.793            0.565            0.348
9       -0.121                      0.954            0.496            0.371
10      -0.094                      0.928            0.424            0.405

In [42]:
#tail vs iloc vs loc
print(data.tail(n=1))
print(data.loc[1948:1948])
print(data.iloc[1948])
print(data.iloc[-1:])

     Country name  year  Life Ladder  Log GDP per capita  Social support  \
1948     Zimbabwe  2020         3.16               7.829           0.717

      Healthy life expectancy at birth  Freedom to make life choices  \
1948                              56.8                         0.643

      Generosity  Perceptions of corruption  Positive affect  Negative affect
1948      -0.009                      0.789            0.703            0.346
     Country name  year  Life Ladder  Log GDP per capita  Social support  \
1948     Zimbabwe  2020         3.16               7.829           0.717

      Healthy life expectancy at birth  Freedom to make life choices  \
1948                              56.8                         0.643

      Generosity  Perceptions of corruption  Positive affect  Negative affect
1948      -0.009                      0.789            0.703            0.346
Country name                        Zimbabwe
year                                    2020
Life Ladder                             3.16
Log GDP per capita                     7.829
Social support                         0.717
Healthy life expectancy at birth        56.8
Freedom to make life choices           0.643
Generosity                            -0.009
Perceptions of corruption              0.789
Positive affect                        0.703
Negative affect                        0.346
Name: 1948, dtype: object
     Country name  year  Life Ladder  Log GDP per capita  Social support  \
1948     Zimbabwe  2020         3.16               7.829           0.717

      Healthy life expectancy at birth  Freedom to make life choices  \
1948                              56.8                         0.643

      Generosity  Perceptions of corruption  Positive affect  Negative affect
1948      -0.009                      0.789            0.703            0.346

In [45]:
#columns

In [44]:
data.iloc[:,[0,1,7]]

     Country name  year  Generosity
0     Afghanistan  2008       0.168
1     Afghanistan  2009       0.190
2     Afghanistan  2010       0.121
3     Afghanistan  2011       0.162
4     Afghanistan  2012       0.236
...           ...   ...         ...
1944     Zimbabwe  2016      -0.095
1945     Zimbabwe  2017      -0.098
1946     Zimbabwe  2018      -0.068
1947     Zimbabwe  2019      -0.064
1948     Zimbabwe  2020      -0.009

[1949 rows x 3 columns]

In [46]:
data.loc[:,['Country name', 'year', 'Generosity']]

     Country name  year  Generosity
0     Afghanistan  2008       0.168
1     Afghanistan  2009       0.190
2     Afghanistan  2010       0.121
3     Afghanistan  2011       0.162
4     Afghanistan  2012       0.236
...           ...   ...         ...
1944     Zimbabwe  2016      -0.095
1945     Zimbabwe  2017      -0.098
1946     Zimbabwe  2018      -0.068
1947     Zimbabwe  2019      -0.064
1948     Zimbabwe  2020      -0.009

[1949 rows x 3 columns]

In [47]:
#Without Using Tail or iLoc Get Last Row - Code
data.loc[data.shape[0]-1]

Country name                        Zimbabwe
year                                    2020
Life Ladder                             3.16
Log GDP per capita                     7.829
Social support                         0.717
Healthy life expectancy at birth        56.8
Freedom to make life choices           0.643
Generosity                            -0.009
Perceptions of corruption              0.789
Positive affect                        0.703
Negative affect                        0.346
Name: 1948, dtype: object

In [48]:
# range=> column 2 to 6
data.iloc[:, range(2,7)]

,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices
0,3.724,7.370,0.451,50.80,0.718
1,4.402,7.540,0.552,51.20,0.679
2,4.758,7.647,0.539,51.60,0.600
3,3.832,7.620,0.521,51.92,0.496
4,3.783,7.705,0.521,52.24,0.531
...,...,...,...,...,...
1944,3.735,7.984,0.768,54.40,0.733
1945,3.638,8.016,0.754,55.00,0.753
1946,3.616,8.049,0.775,55.60,0.763
1947,2.694,7.950,0.759,56.20,0.632
1948,3.160,7.829,0.717,56.80,0.643

In [49]:
column_N  =  data.shape[1]
Index_last  =  column_N - 1
data.iloc[:,Index_last:]

      Negative affect
0               0.258
1               0.237
2               0.275
3               0.267
4               0.268
...               ...
1944            0.209
1945            0.224
1946            0.212
1947            0.235
1948            0.346

[1949 rows x 1 columns]

In [50]:
# get even column
x=list(range(0,11,2))
data.iloc[:,x]

,Country name,Life Ladder,Social support,Freedom to make life choices,Perceptions of corruption,Negative affect
0,Afghanistan,3.724,0.451,0.718,0.882,0.258
1,Afghanistan,4.402,0.552,0.679,0.850,0.237
2,Afghanistan,4.758,0.539,0.600,0.707,0.275
3,Afghanistan,3.832,0.521,0.496,0.731,0.267
4,Afghanistan,3.783,0.521,0.531,0.776,0.268
...,...,...,...,...,...,...
1944,Zimbabwe,3.735,0.768,0.733,0.724,0.209
1945,Zimbabwe,3.638,0.754,0.753,0.751,0.224
1946,Zimbabwe,3.616,0.775,0.763,0.844,0.212
1947,Zimbabwe,2.694,0.759,0.632,0.831,0.235
1948,Zimbabwe,3.160,0.717,0.643,0.789,0.346

In [52]:
#Even Columns Without Using Range - Code
data.iloc[:, ::2]

,Country name,Life Ladder,Social support,Freedom to make life choices,Perceptions of corruption,Negative affect
0,Afghanistan,3.724,0.451,0.718,0.882,0.258
1,Afghanistan,4.402,0.552,0.679,0.850,0.237
2,Afghanistan,4.758,0.539,0.600,0.707,0.275
3,Afghanistan,3.832,0.521,0.496,0.731,0.267
4,Afghanistan,3.783,0.521,0.531,0.776,0.268
...,...,...,...,...,...,...
1944,Zimbabwe,3.735,0.768,0.733,0.724,0.209
1945,Zimbabwe,3.638,0.754,0.753,0.751,0.224
1946,Zimbabwe,3.616,0.775,0.763,0.844,0.212
1947,Zimbabwe,2.694,0.759,0.632,0.831,0.235
1948,Zimbabwe,3.160,0.717,0.643,0.789,0.346

In [54]:
#Pandas - Specific Row - Code=> same result
data.iloc[1944]['Social support']
data.loc[1944,'Social support']
data.iloc[1944,4]

0.768

In [55]:
# columns
data['year']

0       2008
1       2009
2       2010
3       2011
4       2012
        ...
1944    2016
1945    2017
1946    2018
1947    2019
1948    2020
Name: year, Length: 1949, dtype: int64

In [59]:
#Filters
data[data['year']>2018]  # all rows
data[data['year']>2018][:9] # first 9 rows

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
11,Afghanistan,2019,2.375,7.697,0.420,52.4,0.394,-0.108,0.924,0.351,0.502
23,Albania,2019,4.995,9.544,0.686,69.0,0.777,-0.099,0.914,0.681,0.274
24,Albania,2020,5.365,9.497,0.710,69.3,0.754,0.007,0.891,0.679,0.265
32,Algeria,2019,4.745,9.337,0.803,66.1,0.385,0.005,0.741,0.585,0.215
50,Argentina,2019,6.086,10.000,0.896,69.0,0.817,-0.211,0.830,0.826,0.319
51,Argentina,2020,5.901,9.850,0.897,69.2,0.823,-0.122,0.816,0.764,0.342
65,Armenia,2019,5.488,9.522,0.782,67.2,0.844,-0.172,0.583,0.598,0.430
78,Australia,2019,7.234,10.815,0.943,73.9,0.918,0.121,0.430,0.770,0.202
79,Australia,2020,7.137,10.760,0.937,74.2,0.905,0.210,0.491,0.769,0.205

#### get n largest or small value for some column

In [60]:
data.nlargest(10, 'Generosity') # 10 largest Geneosity

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1184,Myanmar,2014,4.786,8.299,0.774,57.74,NaN,0.698,0.592,0.858,0.112
1183,Myanmar,2013,4.176,8.230,0.757,57.38,0.775,0.689,0.638,0.803,0.217
1185,Myanmar,2015,4.224,8.359,0.752,58.10,0.808,0.688,0.633,0.866,0.272
1186,Myanmar,2016,4.623,8.408,0.793,58.40,0.877,0.679,0.607,0.804,0.302
1187,Myanmar,2017,4.154,8.464,0.795,58.70,0.886,0.650,0.619,0.746,0.282
1182,Myanmar,2012,4.439,8.158,0.612,57.02,0.691,0.645,0.695,0.764,0.205
1189,Myanmar,2019,4.434,8.545,0.763,59.30,0.899,0.561,0.682,0.755,0.286
760,Indonesia,2019,5.347,9.377,0.802,62.30,0.866,0.555,0.861,0.877,0.302
1720,Thailand,2014,6.985,9.672,0.933,66.38,0.900,0.553,0.920,0.811,0.169
1716,Thailand,2010,6.217,9.576,0.898,65.50,0.860,0.536,0.917,0.901,0.182

In [61]:
data.nsmallest(10,'Social support') # 10 smallest Social support

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
311,Central African Republic,2016,2.693,6.785,0.290,44.90,0.624,0.033,0.859,0.579,0.494
258,Burundi,2008,3.563,6.719,0.291,49.02,0.260,-0.019,0.860,0.440,0.253
1728,Togo,2008,2.808,7.052,0.291,50.18,0.287,-0.055,0.932,0.362,0.379
1729,Togo,2011,2.936,7.146,0.303,51.58,0.584,-0.070,0.832,0.480,0.395
312,Central African Republic,2017,3.476,6.817,0.320,45.20,0.645,0.073,0.890,0.614,0.599
259,Burundi,2009,3.792,6.723,0.326,49.66,0.427,-0.019,0.718,0.641,0.164
1313,Pakistan,2008,4.414,8.271,0.373,55.40,0.335,0.100,0.848,0.655,0.321
164,Benin,2008,3.667,7.915,0.382,50.90,0.709,-0.004,0.825,0.584,0.303
310,Central African Republic,2011,3.678,7.125,0.387,43.08,0.780,-0.016,0.834,0.524,0.277
11,Afghanistan,2019,2.375,7.697,0.420,52.40,0.394,-0.108,0.924,0.351,0.502

In [ ]:
# sort

In [62]:
data.sort_values(by='year', ascending=True)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
449,Denmark,2005,8.019,10.851,0.972,69.6,0.971,NaN,0.237,0.860,0.154
564,France,2005,7.093,10.642,0.940,71.3,0.895,NaN,0.688,0.769,0.225
1108,Mexico,2005,6.581,9.788,0.903,66.2,0.814,NaN,0.764,0.820,0.219
606,Germany,2005,6.620,10.689,0.963,70.2,0.847,NaN,0.781,0.776,0.197
1395,Poland,2005,5.587,9.849,0.922,66.3,0.782,NaN,0.983,0.715,0.282
...,...,...,...,...,...,...,...,...,...,...,...
550,Ethiopia,2020,4.549,7.711,0.823,59.5,0.769,0.188,0.784,0.669,0.252
1163,Montenegro,2020,5.722,9.913,0.887,68.9,0.802,0.060,0.845,0.603,0.411
1792,Uganda,2020,4.641,7.684,0.800,56.5,0.687,0.147,0.878,0.699,0.425
1279,Nigeria,2020,5.503,8.484,0.739,50.5,0.713,0.099,0.913,0.744,0.316
1948,Zimbabwe,2020,3.160,7.829,0.717,56.8,0.643,-0.009,0.789,0.703,0.346

In [63]:
file.sort_values(by='Generosity', ascending=True)[:5]

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
647,Greece,2018,5.409,10.299,0.794,72.40,0.564,-0.335,0.860,0.666,0.255
640,Greece,2011,5.372,10.339,0.852,71.56,0.528,-0.316,0.941,0.591,0.323
1440,Russia,2006,4.964,9.991,0.895,58.68,0.643,-0.307,0.935,0.611,0.232
1442,Russia,2008,5.619,10.125,0.882,59.84,0.643,-0.305,0.924,0.594,0.166
641,Greece,2012,5.096,10.268,0.812,71.62,0.373,-0.305,0.959,0.581,0.352

In [64]:
#Pandas - Selecting a range of values - Code
data.query('0.025< Generosity <0.028')

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
910,Kosovo,2012,5.640,9.086,0.757,NaN,0.636,0.027,0.950,0.596,0.100
1266,Niger,2019,5.004,7.106,0.677,54.00,0.831,0.026,0.729,0.816,0.304
1356,Paraguay,2009,5.576,9.158,0.900,64.28,0.718,0.027,0.857,0.832,0.186
1533,Singapore,2019,6.378,11.486,0.925,77.10,0.938,0.027,0.070,0.723,0.138
1591,South Korea,2016,5.971,10.593,0.811,73.00,0.591,0.026,0.862,0.676,0.233

In [70]:
#return random data # sampleling
data.sample(n=8) # any random 8 rows

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1207,Nepal,2016,5.100,7.973,0.837,61.30,0.839,0.168,0.817,0.627,0.370
1895,Vietnam,2007,5.422,8.394,0.856,66.02,0.918,0.089,0.754,0.588,0.206
746,India,2020,4.225,8.703,0.617,60.90,0.906,0.075,0.780,0.752,0.383
1403,Poland,2015,6.007,10.235,0.893,68.10,0.793,-0.093,0.810,0.734,0.240
898,Kenya,2014,4.905,8.219,0.765,57.74,0.819,0.172,0.849,0.814,0.221
596,Georgia,2011,4.203,9.263,0.503,64.86,0.632,-0.255,0.353,0.515,0.247
1441,Russia,2007,5.223,10.074,0.885,59.26,0.593,-0.284,0.933,0.623,0.193
576,France,2018,6.666,10.727,0.921,73.80,0.816,-0.138,0.582,0.767,0.282

In [69]:
data.sample(frac=0.02) # 2 % of rows

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1110,Mexico,2008,6.829,9.821,0.876,66.380,0.677,-0.128,0.785,0.825,0.201
1181,Mozambique,2019,4.932,7.155,0.742,55.200,0.870,0.073,0.682,0.587,0.384
518,El Salvador,2011,4.741,8.933,0.731,64.400,0.747,-0.126,0.707,0.875,0.336
1055,Malaysia,2011,5.786,9.966,0.770,65.760,0.840,-0.016,0.842,0.887,0.155
446,Czech Republic,2017,6.790,10.558,0.901,69.800,0.832,-0.177,0.867,0.739,0.227
1929,Zambia,2016,4.348,8.151,0.767,54.300,0.812,0.122,0.771,0.731,0.372
1208,Nepal,2017,4.737,8.039,0.816,62.400,0.845,0.134,0.770,0.571,0.376
1392,Philippines,2018,5.869,9.050,0.846,61.900,0.918,-0.108,0.726,0.773,0.393
550,Ethiopia,2020,4.549,7.711,0.823,59.500,0.769,0.188,0.784,0.669,0.252
688,Honduras,2009,6.033,8.474,0.824,65.260,0.661,0.119,0.857,0.803,0.261
732,India,2006,5.348,8.145,0.707,55.720,0.774,NaN,0.855,0.687,0.199
1877,Uzbekistan,2018,6.205,8.818,0.921,65.100,0.970,0.318,0.520,0.825,0.209
61,Armenia,2015,4.348,9.334,0.723,66.000,0.551,-0.203,0.901,0.594,0.438
1627,Sri Lanka,2019,4.213,9.479,0.815,67.400,0.824,0.051,0.863,0.816,0.315
1326,Palestinian Territories,2007,4.151,8.218,0.712,61.897,0.365,-0.080,0.844,0.566,0.412
1028,Madagascar,2008,4.640,7.439,0.776,54.920,0.332,-0.099,0.773,0.614,0.215
1740,Trinidad and Tobago,2017,6.192,10.183,0.916,63.500,0.859,0.015,0.911,0.846,0.248
1749,Tunisia,2017,4.124,9.269,0.717,66.600,0.478,-0.219,0.869,0.421,0.377
1802,Ukraine,2015,3.965,9.327,0.909,63.700,0.431,-0.033,0.952,0.574,0.241
1901,Vietnam,2013,5.023,8.668,0.759,66.980,0.920,-0.027,0.771,0.718,0.165
1636,Swaziland,2019,4.396,9.070,0.759,51.270,0.597,-0.191,0.724,0.778,0.280
1241,Nicaragua,2008,5.104,8.454,0.857,64.820,0.791,0.076,0.819,0.784,0.289
811,Israel,2017,7.331,10.570,0.916,73.100,0.768,0.145,0.793,0.674,0.276
743,India,2017,4.046,8.730,0.607,59.700,0.886,-0.042,0.781,0.682,0.318
513,El Salvador,2006,5.701,8.873,0.878,62.920,0.683,-0.056,0.807,0.864,0.233
971,Lebanon,2009,5.206,9.830,0.736,65.080,0.665,0.071,0.937,0.528,0.401
937,Kyrgyzstan,2013,5.402,8.441,0.851,62.360,0.755,-0.085,0.900,0.722,0.135
195,Bosnia and Herzegovina,2010,4.669,9.312,0.773,66.700,0.365,-0.128,0.933,0.517,0.409
697,Honduras,2018,5.908,8.643,0.827,67.200,0.872,0.099,0.804,0.872,0.287
1637,Sweden,2005,7.376,10.739,0.951,71.200,0.964,NaN,NaN,0.840,0.151
855,Japan,2016,5.955,10.595,0.900,74.800,0.836,-0.062,0.698,0.760,0.192
364,Colombia,2013,6.607,9.512,0.901,66.360,0.841,-0.071,0.898,0.851,0.278
1387,Philippines,2013,4.977,8.805,0.846,61.200,0.907,0.021,0.756,0.799,0.332
148,Belgium,2007,7.219,10.792,0.922,70.260,0.901,0.069,0.721,0.813,0.218
255,Burkina Faso,2017,4.647,7.627,0.785,53.400,0.614,-0.063,0.727,0.585,0.354
1669,Taiwan Province of China,2006,6.189,10.613,0.882,68.680,0.630,-0.030,0.846,0.814,0.094
1377,Peru,2017,5.711,9.434,0.830,67.800,0.827,-0.154,0.895,0.789,0.394
794,Ireland,2015,6.830,11.174,0.953,72.000,0.892,0.233,0.409,0.799,0.225
1238,New Zealand,2020,7.257,10.600,0.952,73.600,0.918,0.125,0.283,0.849,0.209

In [71]:
#Pandas - Reset Index - Code
x = data.query('0.025<Generosity<0.028')
new_data = x.reset_index()
new_data

,index,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,910,Kosovo,2012,5.640,9.086,0.757,NaN,0.636,0.027,0.950,0.596,0.100
1,1266,Niger,2019,5.004,7.106,0.677,54.00,0.831,0.026,0.729,0.816,0.304
2,1356,Paraguay,2009,5.576,9.158,0.900,64.28,0.718,0.027,0.857,0.832,0.186
3,1533,Singapore,2019,6.378,11.486,0.925,77.10,0.938,0.027,0.070,0.723,0.138
4,1591,South Korea,2016,5.971,10.593,0.811,73.00,0.591,0.026,0.862,0.676,0.233

In [72]:
# filtering data - Greater than 0.1 - Code
data[data.Generosity>0.1]

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1878,Uzbekistan,2019,6.154,8.853,0.915,65.40,0.970,0.304,0.511,0.845,0.220
1896,Vietnam,2008,5.480,8.440,0.805,66.18,0.889,0.201,0.789,0.665,0.218
1899,Vietnam,2011,5.767,8.585,0.898,66.66,0.818,0.105,0.742,0.532,0.193
1929,Zambia,2016,4.348,8.151,0.767,54.30,0.812,0.122,0.771,0.731,0.372
1930,Zambia,2017,3.933,8.156,0.744,54.80,0.823,0.140,0.740,0.685,0.387

In [75]:
data.iloc[[1,4,105,1204],[1,2,5]]

      year  Life Ladder  Healthy life expectancy at birth
1     2009        4.402                             51.20
4     2012        3.783                             52.24
105   2018        5.168                             65.50
1204  2013        4.605                             59.80

In [83]:
# get row 1,4,105,1204 column 1,2,5 

data.loc[[0,3,104,1203],['Country name', 'year','Social support']]

     Country name  year  Social support
0     Afghanistan  2008           0.451
3     Afghanistan  2011           0.521
104    Azerbaijan  2017           0.787
1203        Nepal  2012           0.734

In [87]:
# above with row 11th to 20
data.loc[10:19,['Country name', 'year','Social support']]

   Country name  year  Social support
10  Afghanistan  2018           0.508
11  Afghanistan  2019           0.420
12      Albania  2007           0.821
13      Albania  2009           0.833
14      Albania  2010           0.733
15      Albania  2011           0.759
16      Albania  2012           0.785
17      Albania  2013           0.759
18      Albania  2014           0.626
19      Albania  2015           0.639

In [91]:
#retrive column
data.year
data['year']
data.loc[:,'year']
data.iloc[:,1]

0       2008
1       2009
2       2010
3       2011
4       2012
        ...
1944    2016
1945    2017
1946    2018
1947    2019
1948    2020
Name: year, Length: 1949, dtype: int64

In [93]:
# Get data for singapore
data[data['Country name']=='Singapore']

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1521,Singapore,2006,6.463,11.168,0.904,73.60,0.757,0.138,NaN,0.751,0.267
1522,Singapore,2007,6.834,11.212,0.921,73.90,0.867,0.293,0.064,0.700,0.114
1523,Singapore,2008,6.642,11.178,0.845,74.20,0.661,0.046,0.066,0.721,0.256
1524,Singapore,2009,6.145,11.149,0.866,74.50,0.776,-0.075,0.035,0.500,0.208
1525,Singapore,2010,6.531,11.267,0.864,74.80,0.846,-0.018,0.060,0.602,0.131
1526,Singapore,2011,6.561,11.307,0.904,75.02,0.822,-0.149,0.099,0.483,0.144
1527,Singapore,2013,6.533,11.357,0.808,75.46,0.827,0.115,0.242,0.770,0.148
1528,Singapore,2014,7.062,11.383,0.822,75.68,0.835,0.154,0.133,0.841,0.180
1529,Singapore,2015,6.620,11.400,0.866,75.90,0.887,0.150,0.099,0.803,0.142
1530,Singapore,2016,6.033,11.419,0.925,76.20,0.904,0.143,0.047,0.824,0.111
1531,Singapore,2017,6.378,11.461,0.897,76.50,0.926,0.136,0.162,0.800,0.179
1532,Singapore,2018,6.375,11.490,0.903,76.80,0.916,-0.066,0.097,0.787,0.107
1533,Singapore,2019,6.378,11.486,0.925,77.10,0.938,0.027,0.070,0.723,0.138

In [95]:
#select data after 2019

data[data.year>2019]
data[data['year']>2019]

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
24,Albania,2020,5.365,9.497,0.710,69.3,0.754,0.007,0.891,0.679,0.265
51,Argentina,2020,5.901,9.850,0.897,69.2,0.823,-0.122,0.816,0.764,0.342
79,Australia,2020,7.137,10.760,0.937,74.2,0.905,0.210,0.491,0.769,0.205
92,Austria,2020,7.213,10.851,0.925,73.6,0.912,0.011,0.464,0.769,0.206
117,Bahrain,2020,6.173,10.620,0.848,69.7,0.945,0.132,NaN,0.790,0.297
...,...,...,...,...,...,...,...,...,...,...,...
1850,United States,2020,7.028,11.001,0.937,68.1,0.850,0.034,0.678,0.787,0.295
1865,Uruguay,2020,6.310,9.937,0.921,69.2,0.908,-0.084,0.491,0.807,0.265
1893,Venezuela,2020,4.574,NaN,0.805,66.9,0.612,NaN,0.811,0.722,0.396
1933,Zambia,2020,4.838,8.117,0.767,56.3,0.750,0.056,0.810,0.691,0.345
1948,Zimbabwe,2020,3.160,7.829,0.717,56.8,0.643,-0.009,0.789,0.703,0.346

In [101]:
# get generosity above .6 and below .7
data[(data.Generosity>.6) & (data.Generosity<.7)]

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1182,Myanmar,2012,4.439,8.158,0.612,57.02,0.691,0.645,0.695,0.764,0.205
1183,Myanmar,2013,4.176,8.230,0.757,57.38,0.775,0.689,0.638,0.803,0.217
1184,Myanmar,2014,4.786,8.299,0.774,57.74,NaN,0.698,0.592,0.858,0.112
1185,Myanmar,2015,4.224,8.359,0.752,58.10,0.808,0.688,0.633,0.866,0.272
1186,Myanmar,2016,4.623,8.408,0.793,58.40,0.877,0.679,0.607,0.804,0.302
1187,Myanmar,2017,4.154,8.464,0.795,58.70,0.886,0.650,0.619,0.746,0.282

In [102]:
data[data['Healthy life expectancy at birth']<40]

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
676,Haiti,2010,3.766,7.384,0.554,32.30,0.373,0.216,0.848,0.555,0.293
677,Haiti,2011,4.845,7.423,0.567,36.86,0.413,0.243,0.682,0.625,0.245

In [104]:
data[(data['Healthy life expectancy at birth']<50) & (data['Freedom to make life choices']<0.5) ]

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
258,Burundi,2008,3.563,6.719,0.291,49.02,0.260,-0.019,0.860,0.440,0.253
259,Burundi,2009,3.792,6.723,0.326,49.66,0.427,-0.019,0.718,0.641,0.164
313,Chad,2006,3.435,7.360,0.724,43.18,0.306,0.028,0.961,0.580,0.263
314,Chad,2007,4.141,7.359,0.479,43.66,0.295,-0.011,0.874,0.614,0.245
316,Chad,2009,3.639,7.364,0.646,44.62,0.401,0.021,0.931,0.557,0.221
320,Chad,2013,3.508,7.498,0.714,46.06,0.488,-0.045,0.882,0.462,0.314
322,Chad,2015,4.323,7.527,0.751,46.70,0.474,-0.029,0.889,0.607,0.358
674,Haiti,2006,3.754,7.407,0.694,48.46,0.449,0.401,0.854,0.613,0.332
675,Haiti,2008,3.846,7.417,0.679,40.38,0.465,0.261,0.812,0.608,0.256
676,Haiti,2010,3.766,7.384,0.554,32.30,0.373,0.216,0.848,0.555,0.293
677,Haiti,2011,4.845,7.423,0.567,36.86,0.413,0.243,0.682,0.625,0.245
678,Haiti,2012,4.413,7.437,0.749,41.42,0.482,0.289,0.717,0.593,0.284
1064,Mali,2008,4.115,7.607,0.747,47.16,0.495,-0.012,0.918,0.682,0.164
1934,Zimbabwe,2006,3.826,7.711,0.822,41.58,0.431,-0.076,0.905,0.715,0.297
1935,Zimbabwe,2007,3.280,7.666,0.828,42.86,0.456,-0.082,0.946,0.661,0.265
1936,Zimbabwe,2008,3.174,7.461,0.843,44.14,0.344,-0.090,0.964,0.631,0.250
1937,Zimbabwe,2009,4.056,7.563,0.806,45.42,0.411,-0.078,0.931,0.736,0.218
1940,Zimbabwe,2012,4.955,7.983,0.896,49.54,0.470,-0.103,0.859,0.669,0.177

In [105]:
country=['Zimbabwe', 'Singapore']
data[data['Country name'].isin(country)]

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1521,Singapore,2006,6.463,11.168,0.904,73.60,0.757,0.138,NaN,0.751,0.267
1522,Singapore,2007,6.834,11.212,0.921,73.90,0.867,0.293,0.064,0.700,0.114
1523,Singapore,2008,6.642,11.178,0.845,74.20,0.661,0.046,0.066,0.721,0.256
1524,Singapore,2009,6.145,11.149,0.866,74.50,0.776,-0.075,0.035,0.500,0.208
1525,Singapore,2010,6.531,11.267,0.864,74.80,0.846,-0.018,0.060,0.602,0.131
1526,Singapore,2011,6.561,11.307,0.904,75.02,0.822,-0.149,0.099,0.483,0.144
1527,Singapore,2013,6.533,11.357,0.808,75.46,0.827,0.115,0.242,0.770,0.148
1528,Singapore,2014,7.062,11.383,0.822,75.68,0.835,0.154,0.133,0.841,0.180
1529,Singapore,2015,6.620,11.400,0.866,75.90,0.887,0.150,0.099,0.803,0.142
1530,Singapore,2016,6.033,11.419,0.925,76.20,0.904,0.143,0.047,0.824,0.111
1531,Singapore,2017,6.378,11.461,0.897,76.50,0.926,0.136,0.162,0.800,0.179
1532,Singapore,2018,6.375,11.490,0.903,76.80,0.916,-0.066,0.097,0.787,0.107
1533,Singapore,2019,6.378,11.486,0.925,77.10,0.938,0.027,0.070,0.723,0.138
1934,Zimbabwe,2006,3.826,7.711,0.822,41.58,0.431,-0.076,0.905,0.715,0.297
1935,Zimbabwe,2007,3.280,7.666,0.828,42.86,0.456,-0.082,0.946,0.661,0.265
1936,Zimbabwe,2008,3.174,7.461,0.843,44.14,0.344,-0.090,0.964,0.631,0.250
1937,Zimbabwe,2009,4.056,7.563,0.806,45.42,0.411,-0.078,0.931,0.736,0.218
1938,Zimbabwe,2010,4.682,7.729,0.857,46.70,0.665,-0.093,0.828,0.748,0.122
1939,Zimbabwe,2011,4.846,7.846,0.865,48.12,0.633,-0.088,0.830,0.781,0.211
1940,Zimbabwe,2012,4.955,7.983,0.896,49.54,0.470,-0.103,0.859,0.669,0.177
1941,Zimbabwe,2013,4.690,7.985,0.799,50.96,0.576,-0.104,0.831,0.712,0.182
1942,Zimbabwe,2014,4.184,7.991,0.766,52.38,0.642,-0.074,0.820,0.725,0.239
1943,Zimbabwe,2015,3.703,7.992,0.736,53.80,0.667,-0.123,0.810,0.715,0.179
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

## Cleaning Data

### Nan , empty
### Removing  => Dropna(inplace)
### Replacing nan  fillna(inplace)
### Replacing nan from column
### Replacing with Mean , Median, Mode

In [108]:
# checking NaN
import numpy as np
data= pd.read_csv('world-happiness-report.csv')
data

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [112]:
pd.isnull(data) # Give true false
np.where(pd.isnull(data))

(array([  25,   25,   25,   28,   28,   28,   29,   29,   29,   66,  110,
         111,  112,  112,  112,  112,  112,  112,  113,  114,  115,  116,
         117,  126,  135,  147,  218,  224,  263,  264,  275,  294,  342,
         342,  342,  343,  343,  344,  345,  346,  347,  348,  349,  350,
         350,  351,  351,  352,  352,  353,  354,  355,  356,  378,  423,
         423,  423,  436,  436,  437,  449,  466,  466,  466,  498,  498,
         499,  500,  509,  510,  511,  512,  542,  564,  606,  608,  636,
         699,  700,  701,  702,  703,  704,  705,  706,  707,  708,  709,
         709,  709,  710,  730,  732,  761,  765,  771,  771,  772,  772,
         773,  773,  779,  779,  800,  815,  845,  851,  860,  860,  862,
         864,  865,  866,  867,  868,  869,  870,  871,  872,  872,  872,
         873,  873,  873,  874,  874,  874,  905,  906,  906,  906,  907,
         908,  909,  910,  911,  912,  913,  914,  915,  916,  917,  918,
         918,  918,  922,  923,  923,  924,  924,  925,  925,  925,  925,
         925,  925,  926,  927,  928,  929,  949,  949,  968,  996,  997,
        1027, 1027, 1062, 1062, 1062, 1076, 1077, 1078, 1079, 1080, 1087,
        1087, 1108, 1164, 1164, 1164, 1184, 1197, 1211, 1280, 1280, 1280,
        1281, 1281, 1281, 1282, 1282, 1282, 1283, 1283, 1283, 1284, 1284,
        1284, 1285, 1285, 1285, 1286, 1286, 1286, 1310, 1310, 1310, 1311,
        1311, 1325, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1337,
        1337, 1338, 1338, 1338, 1380, 1395, 1423, 1423, 1423, 1423, 1423,
        1424, 1425, 1426, 1426, 1426, 1426, 1426, 1426, 1427, 1455, 1467,
        1467, 1468, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479,
        1480, 1481, 1521, 1559, 1559, 1560, 1560, 1561, 1561, 1562, 1562,
        1562, 1563, 1563, 1563, 1564, 1564, 1564, 1565, 1565, 1565, 1566,
        1587, 1596, 1596, 1597, 1597, 1598, 1598, 1599, 1599, 1600, 1637,
        1637, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1679, 1679,
        1680, 1680, 1680, 1681, 1681, 1681, 1694, 1695, 1696, 1741, 1741,
        1741, 1753, 1753, 1768, 1768, 1769, 1769, 1770, 1771, 1772, 1773,
        1774, 1775, 1776, 1777, 1811, 1812, 1812, 1813, 1813, 1813, 1814,
        1814, 1814, 1814, 1814, 1814, 1815, 1816, 1817, 1818, 1819, 1820,
        1821, 1836, 1837, 1867, 1868, 1869, 1875, 1879, 1891, 1891, 1892,
        1892, 1893, 1893, 1894, 1902, 1902, 1903, 1903, 1905, 1905, 1905,
        1905, 1905, 1905, 1908, 1916, 1917, 1918, 1918, 1919, 1919],
       dtype=int64),
 array([ 4,  9, 10,  6,  7,  8,  6,  7,  8,  7,  7,  7,  4,  6,  7,  8,  9,
        10,  8,  8,  8,  8,  8,  9,  9,  7,  7,  7,  6,  9,  8,  4,  6,  7,
         8,  6,  8,  8,  8,  8,  8,  8,  8,  6,  8,  6,  8,  6,  8,  8,  8,
         8,  8,  8,  3,  7,  8,  3,  7,  7,  7,  4,  9, 10,  7,  8,  8,  6,
         8,  8,  8,  8,  8,  7,  7,  7,  7,  5,  5,  5,  5,  5,  5,  5,  5,
         5,  5,  3,  5,  7,  7,  7,  7,  7,  7,  3,  7,  3,  7,  3,  7,  6,
         9,  7,  7,  7,  7,  6,  7,  6,  8,  8,  8,  8,  8,  8,  8,  8,  8,
         9, 10,  8,  9, 10,  8,  9, 10,  5,  5,  6,  9,  5,  5,  5,  5,  5,
         5,  5,  5,  5,  5,  5,  3,  5,  7,  7,  7,  8,  7,  8,  4,  6,  7,
         8,  9, 10,  8,  8,  8,  8,  6,  8,  7,  8,  8,  6,  8,  8,  9, 10,
         8,  8,  8,  8,  8,  3,  7,  7,  4,  9, 10,  6,  7,  7,  3,  5,  7,
         3,  5,  7,  3,  5,  7,  3,  5,  7,  3,  5,  7,  3,  5,  7,  3,  5,
         7,  4,  8,  9,  7,  9,  7,  5,  5,  5,  5,  5,  5,  5,  3,  5,  7,
         3,  5,  7, 10,  7,  4,  6,  8,  9, 10,  8,  8,  4,  6,  7,  8,  9,
        10,  7,  7,  6,  7,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,
         8,  3,  7,  3,  7,  3,  7,  3,  5,  7,  3,  5,  7,  3,  5,  7,  3,
         5,  7,  8,  7,  3,  7,  3,  7,  3,  7,  3,  7,  7,  7,  8,  5,  5,
         5,  5,  5,  5,  5,  3,  5,  7,  3,  5,  7,  3,  5,  7,  6,  6,  6,
         4,  9, 10,  7, 10,  6,  8,  6,  8,  8,  8,  8,  8,  8,  8,  8,  8,
         8,  7,  8,  7,  8,  9,  4,  6,  7,  8,  9, 10,  8,  8,  8,  8,  8,
         8,  7,  7,  4,  8,  6,  6,  8,  7,  3,  7,  3,  7,  3,  7,  8,  6,
         8,  6,  8,  4,  6,  7,  8,  9, 10,  8,  8,  8,  3,  7,  3,  7],
       dtype=int64))

In [115]:
data.iloc[25]
#data.iloc[25,4]

Country name                        Algeria
year                                   2010
Life Ladder                           5.464
Log GDP per capita                    9.287
Social support                          NaN
Healthy life expectancy at birth       64.5
Freedom to make life choices          0.593
Generosity                           -0.205
Perceptions of corruption             0.618
Positive affect                         NaN
Negative affect                         NaN
Name: 25, dtype: object

In [118]:
good_data=data.dropna()
good_data

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [120]:
bad_data=data[~data.index.isin(good_data.index)]
bad_data

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
25,Algeria,2010,5.464,9.287,NaN,64.50,0.593,-0.205,0.618,NaN,NaN
28,Algeria,2014,6.355,9.335,0.818,65.14,NaN,NaN,NaN,0.626,0.177
29,Algeria,2016,5.341,9.362,0.749,65.50,NaN,NaN,NaN,0.661,0.377
66,Australia,2005,7.341,10.659,0.968,71.40,0.935,NaN,0.390,0.843,0.238
110,Bahrain,2012,5.027,10.716,0.911,66.86,0.682,NaN,0.438,0.589,0.381
...,...,...,...,...,...,...,...,...,...,...,...
1908,Yemen,2007,4.477,8.214,0.825,53.40,0.673,0.011,NaN,0.592,0.379
1916,Yemen,2016,3.826,7.715,0.775,55.10,0.533,-0.151,NaN,0.469,0.228
1917,Yemen,2017,3.254,7.578,0.790,55.90,0.595,-0.147,NaN,0.455,0.295
1918,Yemen,2018,3.058,NaN,0.789,56.70,0.553,NaN,0.793,0.461,0.315
1919,Yemen,2019,4.197,NaN,0.870,57.50,0.651,NaN,0.798,0.543,0.213

In [121]:
# droping nan data

data.dropna(inplace=True)
data

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
1944,Zimbabwe,2016,3.735,7.984,0.768,54.40,0.733,-0.095,0.724,0.738,0.209
1945,Zimbabwe,2017,3.638,8.016,0.754,55.00,0.753,-0.098,0.751,0.806,0.224
1946,Zimbabwe,2018,3.616,8.049,0.775,55.60,0.763,-0.068,0.844,0.710,0.212
1947,Zimbabwe,2019,2.694,7.950,0.759,56.20,0.632,-0.064,0.831,0.716,0.235
1948,Zimbabwe,2020,3.160,7.829,0.717,56.80,0.643,-0.009,0.789,0.703,0.346

In [132]:
# replacing all missing data
import pandas as pd

data= pd.read_csv('world-happiness-report.csv')
data.fillna(6000,inplace=True)
data[data.index.isin(bad_data.index)] # check 6000

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
25,Algeria,2010,5.464,9.287,6000.000,64.50,0.593,-0.205,0.618,6000.000,6000.000
28,Algeria,2014,6.355,9.335,0.818,65.14,6000.000,6000.000,6000.000,0.626,0.177
29,Algeria,2016,5.341,9.362,0.749,65.50,6000.000,6000.000,6000.000,0.661,0.377
66,Australia,2005,7.341,10.659,0.968,71.40,0.935,6000.000,0.390,0.843,0.238
110,Bahrain,2012,5.027,10.716,0.911,66.86,0.682,6000.000,0.438,0.589,0.381
...,...,...,...,...,...,...,...,...,...,...,...
1908,Yemen,2007,4.477,8.214,0.825,53.40,0.673,0.011,6000.000,0.592,0.379
1916,Yemen,2016,3.826,7.715,0.775,55.10,0.533,-0.151,6000.000,0.469,0.228
1917,Yemen,2017,3.254,7.578,0.790,55.90,0.595,-0.147,6000.000,0.455,0.295
1918,Yemen,2018,3.058,6000.000,0.789,56.70,0.553,6000.000,0.793,0.461,0.315
1919,Yemen,2019,4.197,6000.000,0.870,57.50,0.651,6000.000,0.798,0.543,0.213

In [5]:
# replace specific column
import pandas as pd
data= pd.read_csv('world-happiness-report.csv')
data["Generosity"].fillna(7777,inplace=True)
good_data=data.dropna()
bad_data_generosity = data[~data[["Generosity"]].index.isin(good_data.index)]
bad_data_generosity

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
25,Algeria,2010,5.464,9.287,NaN,64.50,0.593,-0.205,0.618,NaN,NaN
28,Algeria,2014,6.355,9.335,0.818,65.14,NaN,7777.000,NaN,0.626,0.177
29,Algeria,2016,5.341,9.362,0.749,65.50,NaN,7777.000,NaN,0.661,0.377
112,Bahrain,2014,6.165,10.783,NaN,67.42,NaN,7777.000,NaN,NaN,NaN
113,Bahrain,2015,6.007,10.785,0.853,67.70,0.850,0.112,NaN,0.716,0.303
...,...,...,...,...,...,...,...,...,...,...,...
1908,Yemen,2007,4.477,8.214,0.825,53.40,0.673,0.011,NaN,0.592,0.379
1916,Yemen,2016,3.826,7.715,0.775,55.10,0.533,-0.151,NaN,0.469,0.228
1917,Yemen,2017,3.254,7.578,0.790,55.90,0.595,-0.147,NaN,0.455,0.295
1918,Yemen,2018,3.058,NaN,0.789,56.70,0.553,7777.000,0.793,0.461,0.315
1919,Yemen,2019,4.197,NaN,0.870,57.50,0.651,7777.000,0.798,0.543,0.213

In [13]:
# replace for mean, median, mode
mean= data["Social support"].mean()
data["Social support"].fillna(mean,inplace=True)
data.iloc[25]

Country name                         Algeria
year                                    2010
Life Ladder                            5.464
Log GDP per capita                     9.287
Social support                      0.812552
Healthy life expectancy at birth        64.5
Freedom to make life choices           0.593
Generosity                            -0.205
Perceptions of corruption              0.618
Positive affect                          NaN
Negative affect                          NaN
Name: 25, dtype: object

In [15]:
import pandas as pd
sales= pd.read_csv('DataForDatascience/Sales_data.csv')
sales

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28,159.42,2533654.00,1582243.50,951410.50
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70,117.11,576782.80,328376.44,248406.36
2,Europe,Russia,Office Supplies,Offline,L,5/2/2014,341417157,5/8/2014,1779,651.21,524.96,1158502.59,933903.84,224598.75
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,7/5/2014,8102,9.33,6.92,75591.66,56065.84,19525.82
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,2/1/2013,115456712,2/6/2013,5062,651.21,524.96,3296425.02,2657347.52,639077.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sub-Saharan Africa,Mali,Clothes,Online,M,7/26/2011,512878119,9/3/2011,888,109.28,35.84,97040.64,31825.92,65214.72
96,Asia,Malaysia,Fruits,Offline,L,11/11/2011,810711038,12/28/2011,6267,9.33,6.92,58471.11,43367.64,15103.47
97,Sub-Saharan Africa,Sierra Leone,Vegetables,Offline,C,6/1/2016,728815257,6/29/2016,1485,154.06,90.93,228779.10,135031.05,93748.05
98,North America,Mexico,Personal Care,Offline,M,7/30/2015,559427106,8/8/2015,5767,81.73,56.67,471336.91,326815.89,144521.02
99,Sub-Saharan Africa,Mozambique,Household,Offline,L,2/10/2012,665095412,2/15/2012,5367,668.27,502.54,3586605.09,2697132.18,889472.91

## Group By

In [23]:
sales.groupby("Region").count()
sales.groupby("Region")["Country", "Sales Channel"].count()
sales.groupby(["Region", "Sales Channel"])[ "Country"].count()

C:\Users\ankur\AppData\Local\Temp\ipykernel_24880\4114432195.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sales.groupby("Region")["Country", "Sales Channel"].count()

Region                             Sales Channel
Asia                               Offline           6
                                   Online            5
Australia and Oceania              Offline           4
                                   Online            7
Central America and the Caribbean  Offline           5
                                   Online            2
Europe                             Offline           9
                                   Online           13
Middle East and North Africa       Offline           2
                                   Online            8
North America                      Offline           3
Sub-Saharan Africa                 Offline          21
                                   Online           15
Name: Country, dtype: int64

In [ ]:
Excel

In [7]:
# Generate Random data
import numpy as np
import random
import pandas as pd
years=np.arange(1980,2020)
months=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
products=np.arange(1,20)
price=np.arange(1,1000)
values=[]
i=0

while i<1000:
    y=random.choice(years)
    m=random.choice(months)
    p=random.choice(products)
    prod=f'Product{p}'
    pr=random.choice(price)
    row=(y,m,prod,pr)
    values.append(row)
        
    
    i+=1

df=pd.DataFrame(values)
df.to_csv('Testdata.csv')